/* Ramka, marginesy, wyśrodkowanie i maksymalna szerokość */
.user-form {
    display: flex;
    flex-direction: column;
    border: 1px solid #BDBDBD;
    justify-content: center;
    margin: 50px auto;
    max-width: 500px;
}

/* Marginesy i rozmiar czcionki */
.user-form > * {
    font-size: 1em;
    margin: 16px;
}

/* Większe inputy i przycisk, aby były wygodniejsze na urządzeniach mobilnych */
.user-form > input,
.user-form > button {
    padding: 20px;
    border: 2px solid white;
}

.user-form-title {
    text-align: center;
    font-size: 2em;
    color: #51d6c4;
    margin: 16px auto;
}

.user-form-button {
    color: white;
    background-color: #369f90;
}